<div class="ticker-wrapper" data-controller="konami" data-turbo-permanent>
  <div class="hwrap">
    <div class="hmove">
      <%- stocks.each do |stock| %>
        <div class="hitem">
          <%= link_to "#{stock.ticker} #{stock.latest_price} #{stock.price_trend_icon}", stock_path(stock.friendly_id), data: { turbo_frame: "stock-data" }, class: stock.price_trend_icon == "â¶" ? "stock-green" : "stock-red" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
