<div class="ticker-wrapper" data-turbo-permanent>
  <div class="hwrap"><div class="hmove">
    <%- stocks.each do |stock| %>
      <div class="hitem"><%= stock.ticker %> <%= stock.latest_price %> <%= stock.price_trend_icon %></div>
    <% end %>
  </div></div>
</div>
